# Ignore temporary files and directories created by Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Ignore temporary files and directories created by Visual Studio
.vscode/
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
.vscode/ipch/
*.sln
*.vcxproj*
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
*.log
*.obj
*.pch
*.idb
*.pdb
*.opendb
*.tlog
*.lastbuildstate
*.ilk
*.ipch
*.aps
*.ncb
*.user
*.unsuccessfulbuild
*.BuildLog.html
*.LastBuild.log
*.VC.db
.idea/
*.userprefs
